@use '../util' as *;

.header {
    margin-top: rem(36);
    display: flex;

    @include breakpoint(medium) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    @include breakpoint-down(small) {
        flex-flow: column wrap;
        gap: rem(20);

        &__toggle {
            align-self: center;
        }
    }

    &__title {
    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text1);
    }
}