@use '../util/' as *;

.toggle {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(2, max-content);
    align-items: center;
    gap: rem(4.5) rem(8);
    border: none;
    margin: 0;

    label {
        font-size: rem(14);
        cursor: pointer;

        &[for='dark'] {
            grid-column: 1 / 2;
            justify-self: end;
        }

        &[for='light'] {
            grid-column: 3 / 4;
        }
    }

    &__wrapper {
        height: rem(24);
        width: rem(48);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        cursor: pointer;
        position: relative;

        display: flex;
        justify-content: center;
    }

    input[type="radio"] { 
        opacity: 0;
        margin: 0 -2px;
        width: rem(20);
        height: rem(24);  
    }

    &__background {
        height: 100%;
        border-radius: rem(12);
        overflow: hidden;
        display: block;
        background: linear-gradient(225deg, var(--toggle-bg1) 0%, 
        var(--toggle-bg2) 98.02%
        );

        //positioning
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__button {
        position: absolute;
        top: rem(3);
        left: rem(3);
        right: 100%;
        height: rem(18);
        width: rem(18);
        border-radius: 50%;
        background-color: var(--btn-bg);

        transition: 200ms all ease-in-out;

        &:focus {
            outline: 2px solid var(--bold-text);
        }
    }
}